.button {
    width: 330px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .button:disabled {
    opacity: 0.5;
  }
  
  .primary.button {
    background-color: #003BE5;
  }
  